@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.otf");
}
html {
  width: auto;
  height: auto;
  font-size: 100%;
}

body {
  width: auto;
  height: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif, "Courier New", Courier, monospace, Georgia, "Times New Roman", Times, serif;
}

.head {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head__heading {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  margin: 1rem 0rem 0.5rem 0rem;
}
@media screen and (min-width: 700px) {
  .head {
    /*test du @media*/
    width: auto;
    height: 200%;
    align-self: center;
    background-color: #c9abee;
    margin: 0rem 25% 0rem 25%;
  }
}
.head i {
  font-size: 1.3rem;
  position: absolute;
  left: 1rem;
  top: 1.1rem;
  color: #4d4d4d;
}

.localisation {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-bottom: 3rem;
}
.localisation__barre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #595959;
  width: 100%;
  height: 3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #d9d9d9;
}
.localisation__barre i {
  margin-right: 1rem;
}
.localisation__title {
  height: auto;
  width: 60%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem 0rem 1rem 0rem;
}
.localisation__quote {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 0.9rem;
  margin: 0rem 1rem 2rem 1rem;
}
.localisation__btn {
  width: 50%;
  height: 3rem;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  border-radius: 25px 25px;
  background-color: #99E2D0;
  background: linear-gradient(#FF79DA, #9356DC);
}

/*Fonctionnement du réservation*/
.fonctionnement {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
}
.fonctionnement__title {
  font-size: 1.3rem;
  font-weight: bold;
}

.presentation {
  width: auto;
  height: auto;
  margin: 0.5rem 0rem 0rem 1rem;
}
.presentation__etape {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #f9f9f9;
  border-radius: 20px;
}
.presentation__etape i {
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #8c8c8c;
  margin-right: 1.5rem;
  margin-left: 1rem;
}
.presentation__etape--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 1.3rem;
  width: 1.3rem;
  color: white;
  border-radius: 15px;
  background-color: #9356DC;
  position: relative;
  right: 0.5rem;
}
.presentation--purple {
  background-color: #f7f2fc;
}
.presentation--purple i {
  color: #9356DC;
}

/*Partie Menu de présentation des restaurants*/
.menu {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  background-color: #f2f2f2;
}
@media screen and (min-width: 700px) {
  .menu {
    /*test du @media*/
    width: auto;
    height: auto;
    margin: 0rem 20%;
    border-radius: 50px;
    background-color: #f2f2f2;
    margin-bottom: 3rem;
  }
}

.menu__title {
  height: auto;
  width: 90%;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}
@media screen and (min-width: 700px) {
  .menu__title {
    /*test du @media*/
    width: auto;
    height: auto;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

.cadre {
  height: 13rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  margin: 1rem 0rem;
}
.cadre a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 800px) {
  .cadre {
    border: 1px red solid;
  }
}
.cadre__photo {
  height: 9rem;
  width: 100%;
}
.cadre__photo img {
  height: 130%;
  width: 100%;
  object-fit: cover;
  position: relative;
  bottom: 2.5rem;
}
.cadre__description {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.cadre__description h2 {
  font-size: 0.9rem;
  font-weight: 900;
  margin: 0rem 0rem 0.5rem 0.5rem;
  height: auto;
  width: auto;
}
.cadre__description p {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  height: auto;
  width: auto;
}
.cadre__description i {
  height: auto;
  width: auto;
}
.cadre__description i {
  margin-right: 1.2rem;
  font-size: 1.5rem;
}

footer {
  width: auto;
  height: 9rem;
  padding: 1.5rem 1.5rem;
  color: white;
  background-color: #404040;
}

.logo {
  font-size: 0.9rem;
  font-family: "Shrikhand";
  margin-bottom: 1.5rem;
}

.foot {
  width: auto;
  height: auto;
}
.foot i {
  margin-right: 0.7rem;
  width: 1rem;
  height: 1rem;
}
.foot li {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.foot__contact a {
  color: white;
  text-decoration: none;
}

.top-img {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.top-img img {
  height: 100%;
  width: 120%;
  object-fit: cover;
  position: relative;
  right: 2.5rem;
}

.carte {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  margin-top: -3rem;
  padding: 2rem 1rem;
  border-radius: 30px 30px 0px 0px;
  background-color: #f2f2f2;
}
.carte__title {
  font-family: "Shrikhand";
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.carte__title i {
  position: relative;
  bottom: 0.2rem;
  margin-right: 1rem;
}

.entrée {
  width: auto;
  height: auto;
  margin-bottom: 1.5rem;
}
.entrée__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.plat {
  width: auto;
  height: auto;
  margin-bottom: 1.5rem;
}
.plat__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.dessert {
  width: auto;
  height: auto;
  margin-bottom: 1.5rem;
}
.dessert__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.cadre-menu {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 15px;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}
.cadre-menu__name h3 {
  width: auto;
  height: auto;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
}
.cadre-menu__name p {
  width: auto;
  height: auto;
  font-size: 0.8rem;
  text-overflow: ellipsis;
}
.cadre-menu__price {
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.command {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.command__btn {
  width: 50%;
  height: 3rem;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  border-radius: 25px 25px;
  background-color: #99E2D0;
  background: linear-gradient(#FF79DA, #9356DC);
}

.green-line {
  width: 2.2rem;
  border: 1px #99E2D0 solid;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
