.head{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__heading{
        font-family: "Shrikhand";
        font-size: map-get($police-size,l);
        margin: 1rem 0rem 0.5rem 0rem;
    }
    @media screen and(min-width:768px) {/*test du @media*/
        width: auto;
        height: 200%;
        align-self: center;
        background:$color-top-header;
        border-radius: 0 0 1rem 1rem;
    }
    & i{
        font-size: map-get($police-size, m);
        position:absolute;
        left: 1rem;
        top: 1.1rem;
        color: lighten( #000000, 30);
    }
}