@mixin btn{
    width: 50%;
    height: 3rem;
    padding: 0rem 1rem 0rem 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include center;
    font-size: map-get($police-size,xs);
    color: white;
    border-radius: 25px 25px;
    background: $color-btn;
    &::after{
      @include btn-after;
    }
    @media screen and(min-width:768px) {/*test du @media*/
        font-size: map-get($police-size, m);
    }
    &:active{
            box-shadow: $btn-shadow--hover;
            }
    &:active::after{
            opacity: 1;
    }
    &:hover{
        box-shadow: $btn-shadow--hover;
        }
    &:hover::after{
        opacity: 1;
}
    
}
@mixin btn-after{
    content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            background: $color-btn--hover;
}
@mixin new{
    height: 1.5rem;
    width: 4.5rem;
    @include center;
    background-color: $color--tertiary;
    color: darken($color--tertiary,35);
    font-size: map-get($police-size, xs); 
    border-radius: 3px;
    font-weight: bold;
    @media screen and(min-width:768px) {/*test du @media*/
        height: 2.5rem;
        width: 5.5rem;
        @include center;
        font-size: map-get($police-size, s); 
        border-radius: 3px;
    }
}
@mixin spinner{
    position: relative;
    z-index: 1;
    height: 8rem;
    width: 8rem;
    border-radius: 4rem;
    border: 2px $color--tertiary solid;
}
@mixin boule-size{
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: darken($color--primary, 5) ;

}
@mixin boule1{
    @include boule-size;
    top: 0;
    left: 0;

}
@mixin boule2{
    @include boule-size;
    top: 0;
    right:0;
}
@mixin boule3{
    @include boule-size;
    bottom:0;
    left: 0;
}
@mixin boule4{
    @include boule-size;
    bottom:0;
    right: 0;
}