.localisation{
    @include auto;
    @include center;
    flex-direction: column;
    background-color: $color--background;
    padding-bottom: 3rem;
    &__barre{
        @include center;
        color: darken($color--background,60);
        width: 100%;
        height: 3rem;
        font-size: map-get($police-size,s);
        font-weight: bold;
        background-color: darken($color--background,5);
        & i{
            margin-right: 1rem;
        }
    }
    &__title{
        height: auto;
        width: 70%;
        text-align: center;
        font-size: map-get($police-size,m );
        font-weight:bold;
        margin: 2rem 0rem 1rem 0rem;
    }
    &__quote{
        @include auto;
        text-align: center;
        font-size: map-get($police-size,s);
        margin: 0rem 1rem 2rem 1rem;
    }
    &__btn{
        box-shadow:$btn-shadow;
        @include btn;
    }
}
/*Fonctionnement du réservation*/
.fonctionnement{
    @include auto;
    display: flex;
    flex-direction: column;
    padding:3rem 1rem;
    &__title{
        font-size: map-get($police-size, m);
        font-weight: bold;
    }
}
.presentation{
    @include auto;
    margin: 0.5rem 0rem 0rem 1rem;
    &__etape{
        box-shadow: $cadre-shadow;
        @include fonctionnement;
        & i{
           @include i;
        }
        &--circle{
            @include circle;
        }
    } 
    &--purple{
        box-shadow: $cadre-shadow;
        background-color: lighten($color--primary,35);
        & i{
        color: $color--primary;
    }
    }
    
}


/*Partie Menu de présentation des restaurants*/
.menu{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background-color: $color--background;
    @media screen and(min-width:700px) {/*test du @media*/
        @include auto;
        margin: 0rem 20%;
        border-radius: 50px;
        background-color: $color--background;
        margin-bottom: 3rem;
    }
}
.menu__title{
    height: auto;
    width: 90%;
    font-size: map-get($police-size,m);
    font-weight: bold;
    text-align: left;
    @media screen and(min-width:700px) {/*test du @media*/
        @include auto;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }
}
.cadre{
    box-shadow: $cadre-shadow;
    & a{
        text-decoration: none;
        color: black;
    }
    @include cadre; 
    
    &__photo{
        position: relative;
       @include photosize;
        & img{
          @include photofit;
        }
        &--new{
            position: absolute;
            @include new;
            top: 1rem;
            right: 1rem;
        }
    }
    &__description{
        @include description;
        @include delements;
        & i{
            margin-right: 1.2rem;
            font-size: 1.5rem;
            &:hover{
                color: $color--primary;
            }
        }
    }
}
