.bloc-page{
    animation: deplacement 0s $bloc-delais both;
}
.loading{
    position: fixed;
    z-index: -2;
    top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
    display: flex;
    opacity: 0;
    background:radial-gradient(lighten($color--secondary,10),lighten($color--primary,10));
    justify-content: center;
    align-items: center;
    animation: disparition $boule-duree $boule-delais linear both $repetition;
}
.spinner{
	@include spinner;
	animation: tourne $boule-duree $boule-delais ease-in both $repetition;

	&__boule1{
		@include boule1;
	}
	&__boule2{
		@include boule2;

	}
	&__boule3{
		@include boule3;

	}
	&__boule4{
		@include boule4;

	}
}

.localisation{
    @include auto;
    @include center;
    flex-direction: column;
    background-color: $color--background;
    padding-bottom: 3rem;
    @media screen and(min-width:768px) {/*test du @media*/
        margin: 0rem 10%;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: $cadre-shadow;
        @media screen and(min-width:1440px) {/*test du @media*/
            margin: 0rem 20%;
        }
    }
    &__barre{
        @include center;
        color: darken($color--background,60);
        width: 100%;
        height: 3rem;
        font-size: map-get($police-size,s);
        font-weight: bold;
        background-color: darken($color--background,5);
        @media screen and(min-width:768px) {/*test du @media*/
            font-size: map-get($police-size, m);
        }
        & i{
            margin-right: 1rem;
        }
    }
    &__title{
        height: auto;
        width: 70%;
        text-align: center;
        font-size: map-get($police-size,m );
        font-weight:bold;
        margin: 2rem 0rem 1rem 0rem;
        @media screen and(min-width:768px) {/*test du @media*/
            font-size: map-get($police-size, l);
        }
    }
    &__quote{
        @include auto;
        text-align: center;
        font-size: map-get($police-size,s);
        margin: 0rem 1rem 2rem 1rem;
        @media screen and(min-width:768px) {/*test du @media*/
            font-size: map-get($police-size, m);
        }
    }
    &__btn{
        box-shadow:$btn-shadow;
        @include btn;
    }
}
/*Fonctionnement du réservation*/
.fonctionnement{
    @include auto;
    display: flex;
    flex-direction: column;
    padding:3rem 1rem;
    @media screen and(min-width:768px) {/*test du @media*/
        border-radius: 1rem;
        margin: 0rem 10%;
    }
    @media screen and(min-width:1440px) {/*test du @media*/
        margin: 0rem 20%;
    }
    &__title{
        font-size: map-get($police-size, m);
        font-weight: bold;
        @media screen and(min-width:768px) {/*test du @media*/
            font-size: map-get($police-size, l);
        }
    }
}
.presentation{
    @include auto;
    margin: 0.5rem 0rem 0rem 1rem;
    &__etape{
        box-shadow: $cadre-shadow;
        @include fonctionnement;
        & i{
           @include i;
        }
        &--circle{
            @include circle;
        }
    } 
    &--purple{
        box-shadow: $cadre-shadow;
        background-color: lighten($color--primary,35);
        & i{
        color: $color--primary;
        }
    }
    
}


/*Partie Menu de présentation des restaurants*/
.menu{
    @include auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background-color: $color--background;
    @media screen and(min-width:768px) {/*test du @media*/
        @include auto;
        margin: 0rem 10%;
        border-radius: 50px;
        background-color: $color--background;
        margin-bottom: 3rem;
        padding: 2rem 3rem 3rem 3rem;
        box-shadow: $cadre-shadow;
    }
    @media screen and(min-width:1440px) {/*test du @media*/
        margin: 0rem 20%;
        margin-bottom: 3rem;
    }
}
.menu__title{
    height: auto;
    width: 90%;
    font-size: map-get($police-size,m);
    font-weight: bold;
    text-align: left;
    @media screen and(min-width:768px) {/*test du @media*/
        @include auto;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
.cadre{
    @include cadre;
    .lien{
        text-decoration: none;
        color: black;
        width: 100%;
        height: auto;
        overflow: hidden;
        @media screen and(min-width:768px) {/*test du @media*/
            height: 80%;
            width:100%;
            overflow: hidden;
        }
        &__photo{
            position: relative;
            @include photosize;
      
            & img{
                @include photofit;
            }
            &--new{
                position: absolute;
                @include new;
                top: 1rem;
                right: 1rem;
            }
        }
    }
    
    &__description{
        @include description;
        & a{
            height: 100%;
            text-decoration: none;
            color: black;
            width: 85%;
            overflow: hidden;
            & h2{
                @include h2;
            } 
            & p{
                @include p;
            }
        }
        &--coeur{
            width: 15%;
            height: 100%;
            display: flex;
            align-items: flex-end;

            &:hover{
                cursor: grabbing;
            }
            & i{
                transform: scale(1,1.3);
                margin-bottom: 1.5rem;
                margin-left: 0.5rem;
                font-size: 1rem;
                transform-origin: center;
                transition: font-weight 0s,transform 1s;
                @media screen and(min-width:768px) {/*test du @media*/
                    transform: scale(1.3,1.8);
                }
                @media screen and(min-width:1024px) {/*test du @media*/
                    transform: scale(1.5,2);
                    margin-bottom: 2.3rem;
                }
                &:active{
                    color: $color--primary;
                    font-weight: bold;
                    transform: scale(1.5,1.7) ;
                    transition:transform 0.5s, color 1s;
                    @media screen and(min-width:768px) {/*test du @media*/
                        transform: scale(1.8,2.1) ;
                    }
                    @media screen and(min-width:1024px) {/*test du @media*/
                        transform: scale(2,2.3);
                    }
                }
                &:hover{
                    color: $color--primary;
                    font-weight: bold;
                    transform: scale(1.5,1.7);
                    transition:transform 0.5s, color 1s;
                    @media screen and(min-width:768px) {/*test du @media*/
                        transform: scale(1.8,2.1);
                    }
                    @media screen and(min-width:1024px) {/*test du @media*/
                        transform: scale(2,2.3);
                    }
                }
            }
        }
    }
}