.top-img{
    width: 100%;
    height: 15rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    & img{
        height: 100%;
        width: 120%;
        object-fit: cover;
        position: relative;
        right: 2.5rem;
    }
    @media screen and(min-width:768px) {/*test du @media*/
        height: 30rem;
    }
    @media screen and(min-width:1024px) {/*test du @media*/
        height: 35rem;
    }
    @media screen and(min-width:1440px) {/*test du @media*/
        height: 40rem;
    }
}
.carte{
    @include auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-top: -3rem;
    padding: 2rem 1rem;
    border-radius: 30px 30px 0px 0px;
    background-color: $color--background;
    @media screen and(min-width:768px) {/*test du @media*/
        padding: 2rem 2rem;
        margin: -3rem 2rem 2rem 2rem;
        border-radius: 30px;
        box-shadow: $cadre-shadow;
    }
    @media screen and(min-width:1440px) {/*test du @media*/
        margin: -3rem 20% 3rem 20%;
    }
    
    
    &__title{
        font-family: "Shrikhand";
        display: flex;
        font-size: map-get($police-size,l);
        justify-content: space-between;
        margin-bottom: 2rem;
        @media screen and(min-width:768px) {/*test du @media*/
            font-size: map-get($police-size,e);
        }
        & i{
            position: relative;
            bottom: 0.2rem;
            margin-right: 1rem;
            @media screen and(min-width:768px) {/*test du @media*/
                margin-right: 2rem;
            }
        }
    }
}
.entree{
    @include auto;
    margin-bottom: 1.5rem;
    &__title{
       @include title-menu;
       &::after{
        @include green-bar;
       }
    }
    &__cadre{
        animation: apparition $duree $delais ease-in-out both;
            @for $num-cadre from 1 through $nb-entree{
                &--#{$num-cadre}{
                    animation-delay: $delais * $num-cadre;
            }
        }
    }
}
.plat{
    @include auto;
    margin-bottom: 1.5rem;
    &__title{
       @include title-menu;
       &::after{
        @include green-bar;
       }
    }
    &__cadre{
        animation: apparition $duree $delais ease-in-out both;
        @for $num-cadre from 1 through $nb-plat{
            &--#{$num-cadre}{
                animation-delay: $delais * $num-cadre;
            }
        }
    }
}
.dessert{
    @include auto;
    margin-bottom: 1.5rem;

    &__title{
       @include title-menu;
       &::after{
        @include green-bar;
       }
    }
    &__cadre{
        animation: apparition $duree $delais ease-in-out both;
        @for $num-cadre from 1 through $nb-dessert{
            &--#{$num-cadre}{
                animation-delay: $delais * $num-cadre;
            }
        }
    }
}
.cadre-menu{
    @include cadre-menu;
    &:hover{
        & > .cadre-menu__name{
            width: 65%;
        }
        & > .cadre-menu__rotation{
            width: 20%;
            transition:width 0.5s;
            & i{
                transform: translateX(0px) rotate(1turn);
                transition: transform 0.5s;
            }
        }
    }
    &:active{
        & > .cadre-menu__name{
            width: 65%;
        }
        & > .cadre-menu__rotation{
            width: 20%;
            transition:width 0.5s;
            & i{
                transform: translateX(0px) rotate(1turn);
                transition: transform 0.5s;
            }
        }
    }
    &__name{
        width: 85%;
        height: 100%;
        background-color: white;
        transition: width 0.5s;
        & h3{
            @include auto;
            font-size: map-get($police-size,s);
            margin: 1rem 0.5rem 0rem 1rem;
            padding-bottom: 0.2rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
            @media screen and(min-width:768px) {/*test du @media*/
                margin: 1.5rem 0.5rem 0.5rem 1.5rem;
                padding-bottom: 0.5rem;
                font-size: map-get($police-size,m);
            }
        }
        & p{
            @include auto;
            margin: 0.5rem 1rem;
            padding-bottom: 0.2rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: map-get($police-size,xs);
            @media screen and(min-width:768px) {/*test du @media*/
                margin: 0.5rem 0.5rem 0.5rem 1.5rem;
                padding-bottom: 0.2rem;
                font-size: map-get($police-size,xm);
            }
        }
    }
    &__price{
        font-weight: bold;
        height: 100%;
        width: 15%;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        background-color: white;
        
        
        & p{
            font-size: map-get($police-size,xs);
            margin-bottom: 0.7rem;
            @media screen and(min-width:768px) {/*test du @media*/
                font-size: map-get($police-size,xm);
                margin-bottom: 1.2rem;

            }
        }
    }
    &__rotation{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color--tertiary;
        width: 0%;
        transition:width 0.5s ;
        & i{
            font-size: 1.5rem;
            color: white;
            transform: translateX(10px) rotate(0deg);
            transition: transform 0s;
        } 
    }
}
.command{
    @include auto;
    @include center;
    
    &__btn{
        box-shadow:$btn-shadow;
        @include btn;
    }
}