@mixin cadre{
    height: 13rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    margin: 1rem 0rem;
    box-shadow: $cadre-shadow;
    @media screen and(min-width:768px) {/*test du @media*/
        height: 20rem;
        border-radius: 1.5rem;
    }
    @media screen and(min-width:1024px) {/*test du @media*/
        height: 25rem;
    }
}
@mixin photofit{
    height: 130%;
    width: 100%;
    object-fit: cover;
    position: relative;
    bottom: 2.7rem;
}
@mixin photosize{
    height: 9rem;
    width:100%;
    @media screen and(min-width:768px) {/*test du @media*/
        height: auto;
        width:100%;
        overflow: hidden;
    }
}
@mixin description{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    overflow: hidden;
    @media screen and(min-width:768px) {/*test du @media*/
        height: 20%;
        width:100%;
        overflow: hidden;
    }
}
@mixin h2{
        font-size: map-get($police-size, s);
        font-weight: 900;
        margin: 1rem 0rem 0.5rem 0.7rem;
        height: auto;
        width: auto;
        @media screen and(min-width:768px) {/*test du @media*/
            font-size: map-get($police-size, xm);
            margin:0.5rem 0rem 0.5rem 1rem;
        }
        @media screen and(min-width:1024px) {/*test du @media*/
            margin: 1rem 0rem 0.5rem 1.5rem;
        }

}
@mixin p{
        font-size: map-get($police-size, xs);
        margin-left: 0.7rem;
        height: auto;
        width: auto;
        @media screen and(min-width:768px) {/*test du @media*/
            font-size: map-get($police-size, s);
            margin-left: 1rem;
        }
        @media screen and(min-width:1024px) {/*test du @media*/
            margin-left: 1.5rem;
        }
}
@mixin auto{
    width: auto;
    height: auto;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin fonctionnement{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    margin-top: 1rem;
    font-size: map-get($police-size, xm);
    background-color: $color--background;
    border-radius: 20px;
    @media screen and(min-width:768px) {/*test du @media*/
        font-size: map-get($police-size, m);
    }
}
@mixin circle{
    @include center;
    font-size: map-get($police-size, xs);
    height: 1.3rem;
    width: 1.3rem;
    color: white;
    border-radius: 15px;
    background-color: $color--primary;
    position: relative;
    right: 0.5rem;
    @media screen and(min-width:768px) {/*test du @media*/
        font-size: map-get($police-size, xm);
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 15px;
    }
}
@mixin i{
    height: 1.2rem;
    width: 1.2rem;
    @include center;
    font-size: map-get($police-size, m);
    color:darken($color--background,40);
    margin-right: 1.5rem;
    margin-left: 1rem;
    @media screen and(min-width:768px) {/*test du @media*/
        font-size: map-get($police-size, l);
    }
}
@mixin cadre-menu{
    width: auto;    
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: $cadre-shadow;
    height: 4rem;
    @media screen and(min-width:768px) {/*test du @media*/
        height: 6rem;
    }

}
@mixin title-menu{
    font-size: map-get($police-size,s);
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    @media screen and(min-width:768px) {/*test du @media*/
        font-size: map-get($police-size,m);
        margin-bottom: 0.7rem;
    }
}