@charset "UTF-8";
/**couleurs**/
/**btn**/
/**animations**/
/**menus**/
@keyframes apparition {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes tourne {
  0% {
    transform: scale(0.5) rotate(0turn);
    opacity: 0;
  }
  50% {
    transform: scale(1) rotate(0.5turn);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(0.5) rotate(1turn);
    opacity: 0;
  }
}
@keyframes deplacement {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes disparition {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.otf");
}
html {
  width: auto;
  height: auto;
  font-size: 100%;
}

body {
  width: auto;
  height: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif, "Courier New", Courier, monospace, Georgia, "Times New Roman", Times, serif;
}

.head {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head__heading {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  margin: 1rem 0rem 0.5rem 0rem;
}
@media screen and (min-width: 768px) {
  .head__heading {
    /*test du @media*/
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .head {
    /*test du @media*/
    width: auto;
    height: 200%;
    align-self: center;
  }
}
.head i {
  font-size: 1.3rem;
  position: absolute;
  left: 1rem;
  top: 1.1rem;
  color: #4d4d4d;
}
@media screen and (min-width: 768px) {
  .head i {
    /*test du @media*/
    font-size: 1.5rem;
  }
}

.bloc-page {
  animation: deplacement 0s 1.7s both;
}

.loading {
  position: fixed;
  z-index: -2;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  opacity: 0;
  background: radial-gradient(#fface8, #ae80e5);
  justify-content: center;
  align-items: center;
  animation: disparition 1.5s 0.2s linear both 1;
}

.spinner {
  position: relative;
  z-index: 1;
  height: 8rem;
  width: 8rem;
  border-radius: 4rem;
  border: 2px #99E2D0 solid;
  animation: tourne 1.5s 0.2s ease-in both 1;
}
.spinner__boule1 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #8641d8;
  top: 0;
  left: 0;
}
.spinner__boule2 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #8641d8;
  top: 0;
  right: 0;
}
.spinner__boule3 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #8641d8;
  bottom: 0;
  left: 0;
}
.spinner__boule4 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #8641d8;
  bottom: 0;
  right: 0;
}

.localisation {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .localisation {
    /*test du @media*/
    margin: 0rem 10%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 1px 3px 10px #d9d9d9;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .localisation {
    /*test du @media*/
    margin: 0rem 20%;
  }
}
.localisation__barre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #595959;
  width: 100%;
  height: 3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #e5e5e5;
}
@media screen and (min-width: 768px) {
  .localisation__barre {
    /*test du @media*/
    font-size: 1.3rem;
  }
}
.localisation__barre i {
  margin-right: 1rem;
}
.localisation__title {
  height: auto;
  width: 70%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem 0rem 1rem 0rem;
}
@media screen and (min-width: 768px) {
  .localisation__title {
    /*test du @media*/
    font-size: 1.5rem;
  }
}
.localisation__quote {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 0.9rem;
  margin: 0rem 1rem 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .localisation__quote {
    /*test du @media*/
    font-size: 1.3rem;
  }
}
.localisation__btn {
  box-shadow: 0px 3px 10px #8c8c8c;
  width: 50%;
  height: 3rem;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  border-radius: 25px 25px;
  background: linear-gradient(#ff6ad6, #9356DC);
}
@media screen and (min-width: 768px) {
  .localisation__btn {
    /*test du @media*/
    font-size: 1.3rem;
  }
}
.localisation__btn:hover {
  background: linear-gradient(#ff83dd, #a16be0);
  box-shadow: 0px 6px 10px #8c8c8c;
}

/*Fonctionnement du réservation*/
.fonctionnement {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    /*test du @media*/
    border-radius: 1rem;
    margin: 0rem 10%;
  }
}
@media screen and (min-width: 1440px) {
  .fonctionnement {
    /*test du @media*/
    margin: 0rem 20%;
  }
}
.fonctionnement__title {
  font-size: 1.3rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .fonctionnement__title {
    /*test du @media*/
    font-size: 1.5rem;
  }
}

.presentation {
  width: auto;
  height: auto;
  margin: 0.5rem 0rem 0rem 1rem;
}
.presentation__etape {
  box-shadow: 1px 3px 10px #d9d9d9;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: #f2f2f2;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .presentation__etape {
    /*test du @media*/
    font-size: 1.3rem;
  }
}
.presentation__etape i {
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #8c8c8c;
  margin-right: 1.5rem;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .presentation__etape i {
    /*test du @media*/
    font-size: 1.5rem;
  }
}
.presentation__etape--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 1.3rem;
  width: 1.3rem;
  color: white;
  border-radius: 15px;
  background-color: #9356DC;
  position: relative;
  right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .presentation__etape--circle {
    /*test du @media*/
    font-size: 1rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 15px;
  }
}
.presentation--purple {
  box-shadow: 1px 3px 10px #d9d9d9;
  background-color: #f2eafb;
}
.presentation--purple i {
  color: #9356DC;
}

/*Partie Menu de présentation des restaurants*/
.menu {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  background-color: #f2f2f2;
}
@media screen and (min-width: 768px) {
  .menu {
    /*test du @media*/
    width: auto;
    height: auto;
    margin: 0rem 10%;
    border-radius: 50px;
    background-color: #f2f2f2;
    margin-bottom: 3rem;
    padding: 2rem 3rem 3rem 3rem;
    box-shadow: 1px 3px 10px #d9d9d9;
  }
}
@media screen and (min-width: 1440px) {
  .menu {
    /*test du @media*/
    margin: 0rem 20%;
    margin-bottom: 3rem;
  }
}

.menu__title {
  height: auto;
  width: 90%;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .menu__title {
    /*test du @media*/
    width: auto;
    height: auto;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.cadre {
  height: 13rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  margin: 1rem 0rem;
  box-shadow: 1px 3px 10px #d9d9d9;
}
@media screen and (min-width: 768px) {
  .cadre {
    /*test du @media*/
    height: 20rem;
    border-radius: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .cadre {
    /*test du @media*/
    height: 25rem;
  }
}
.cadre .lien {
  text-decoration: none;
  color: black;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .cadre .lien {
    /*test du @media*/
    height: 80%;
    width: 100%;
    overflow: hidden;
  }
}
.cadre .lien__photo {
  position: relative;
  height: 9rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cadre .lien__photo {
    /*test du @media*/
    height: auto;
    width: 100%;
    overflow: hidden;
  }
}
.cadre .lien__photo img {
  height: 130%;
  width: 100%;
  object-fit: cover;
  position: relative;
  bottom: 2.5rem;
}
.cadre .lien__photo--new {
  position: absolute;
  height: 1.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #2c9c81;
  font-size: 0.8rem;
  border-radius: 3px;
  font-weight: bold;
  top: 1rem;
  right: 1rem;
}
@media screen and (min-width: 768px) {
  .cadre .lien__photo--new {
    /*test du @media*/
    height: 2.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 3px;
  }
}
.cadre__description {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .cadre__description {
    /*test du @media*/
    height: 20%;
    width: 100%;
    overflow: hidden;
  }
}
.cadre__description a {
  height: 100%;
  text-decoration: none;
  color: black;
  width: 85%;
  overflow: hidden;
}
.cadre__description a h2 {
  font-size: 0.9rem;
  font-weight: 900;
  margin: 1rem 0rem 0.5rem 0.5rem;
  height: auto;
  width: auto;
}
@media screen and (min-width: 768px) {
  .cadre__description a h2 {
    /*test du @media*/
    font-size: 1.3rem;
    margin: 0.5rem 0rem 0.5rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .cadre__description a h2 {
    /*test du @media*/
    margin: 1rem 0rem 0.5rem 1.5rem;
  }
}
.cadre__description a p {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  height: auto;
  width: auto;
}
@media screen and (min-width: 768px) {
  .cadre__description a p {
    /*test du @media*/
    font-size: 0.9rem;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .cadre__description a p {
    /*test du @media*/
    margin-left: 1.5rem;
  }
}
.cadre__description--coeur {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.cadre__description--coeur:hover {
  cursor: grabbing;
}
.cadre__description--coeur i {
  transform: scale(1, 1.3);
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  transform-origin: center;
  transition: font-weight 0s, transform 1s;
}
@media screen and (min-width: 768px) {
  .cadre__description--coeur i {
    /*test du @media*/
    transform: scale(1.3, 1.8);
  }
}
@media screen and (min-width: 1024px) {
  .cadre__description--coeur i {
    /*test du @media*/
    transform: scale(1.5, 2);
    margin-bottom: 2.3rem;
  }
}
.cadre__description--coeur i:active {
  color: #9356DC;
  font-weight: bold;
  transform: scale(1.5, 1.7);
  transition: transform 0.5s, color 1s;
}
@media screen and (min-width: 768px) {
  .cadre__description--coeur i:active {
    /*test du @media*/
    transform: scale(1.8, 2.1);
  }
}
@media screen and (min-width: 1024px) {
  .cadre__description--coeur i:active {
    /*test du @media*/
    transform: scale(2, 2.3);
  }
}
.cadre__description--coeur i:hover {
  color: #9356DC;
  font-weight: bold;
  transform: scale(1.5, 1.7);
  transition: transform 0.5s, color 1s;
}
@media screen and (min-width: 768px) {
  .cadre__description--coeur i:hover {
    /*test du @media*/
    transform: scale(1.8, 2.1);
  }
}
@media screen and (min-width: 1024px) {
  .cadre__description--coeur i:hover {
    /*test du @media*/
    transform: scale(2, 2.3);
  }
}

footer {
  width: auto;
  height: 9rem;
  padding: 1.5rem 1.5rem;
  color: white;
  background-color: #404040;
}
@media screen and (min-width: 768px) {
  footer {
    /*test du @media*/
    padding: 2rem 2rem;
  }
}

.logo {
  font-size: 0.9rem;
  font-family: "Shrikhand";
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .logo {
    /*test du @media*/
    font-size: 1.5rem;
  }
}

.foot {
  width: auto;
  height: auto;
}
.foot i {
  margin-right: 0.7rem;
  width: 1rem;
  height: 1rem;
}
@media screen and (min-width: 768px) {
  .foot i {
    /*test du @media*/
    width: 1.2rem;
    height: 1.2rem;
  }
}
.foot li {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .foot li {
    /*test du @media*/
    font-size: 1rem;
  }
}
.foot__contact a {
  color: white;
  text-decoration: none;
}

.top-img {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.top-img img {
  height: 100%;
  width: 120%;
  object-fit: cover;
  position: relative;
  right: 2.5rem;
}

.carte {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  margin-top: -3rem;
  padding: 2rem 1rem;
  border-radius: 30px 30px 0px 0px;
  background-color: #f2f2f2;
}
@media screen and (min-width: 768px) {
  .carte {
    /*test du @media*/
    padding: 2rem 2rem;
    margin: -3rem 2rem 2rem 2rem;
    border-radius: 30px;
    box-shadow: 1px 3px 10px #d9d9d9;
  }
}
@media screen and (min-width: 1440px) {
  .carte {
    /*test du @media*/
    margin: -3rem 20% 3rem 20%;
  }
}
.carte__title {
  font-family: "Shrikhand";
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .carte__title {
    /*test du @media*/
    font-size: 2.5rem;
  }
}
.carte__title i {
  position: relative;
  bottom: 0.2rem;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .carte__title i {
    /*test du @media*/
    margin-right: 2rem;
  }
}

.entree {
  width: auto;
  height: auto;
  margin-bottom: 1.5rem;
}
.entree__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
@media screen and (min-width: 768px) {
  .entree__title {
    /*test du @media*/
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }
}
.entree__cadre {
  animation: apparition 0.3s 0.2s ease-in-out both;
}
.entree__cadre--1 {
  animation-delay: 0.2s;
}
.entree__cadre--2 {
  animation-delay: 0.4s;
}
.entree__cadre--3 {
  animation-delay: 0.6s;
}
.entree__cadre--4 {
  animation-delay: 0.8s;
}

.plat {
  width: auto;
  height: auto;
  margin-bottom: 1.5rem;
}
.plat__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
@media screen and (min-width: 768px) {
  .plat__title {
    /*test du @media*/
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }
}
.plat__cadre {
  animation: apparition 0.3s 0.2s ease-in-out both;
}
.plat__cadre--1 {
  animation-delay: 0.2s;
}
.plat__cadre--2 {
  animation-delay: 0.4s;
}
.plat__cadre--3 {
  animation-delay: 0.6s;
}

.dessert {
  width: auto;
  height: auto;
  margin-bottom: 1.5rem;
}
.dessert__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
@media screen and (min-width: 768px) {
  .dessert__title {
    /*test du @media*/
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }
}
.dessert__cadre {
  animation: apparition 0.3s 0.2s ease-in-out both;
}
.dessert__cadre--1 {
  animation-delay: 0.2s;
}
.dessert__cadre--2 {
  animation-delay: 0.4s;
}
.dessert__cadre--3 {
  animation-delay: 0.6s;
}

.cadre-menu {
  width: auto;
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 1px 3px 10px #d9d9d9;
  height: 4rem;
}
@media screen and (min-width: 768px) {
  .cadre-menu {
    /*test du @media*/
    height: 6rem;
  }
}
.cadre-menu:hover > .cadre-menu__name {
  width: 65%;
}
.cadre-menu:hover > .cadre-menu__rotation {
  width: 20%;
  transition: width 0.5s;
}
.cadre-menu:hover > .cadre-menu__rotation i {
  transform: translateX(0px) rotate(1turn);
  transition: transform 0.5s;
}
.cadre-menu:active > .cadre-menu__name {
  width: 65%;
}
.cadre-menu:active > .cadre-menu__rotation {
  width: 20%;
  transition: width 0.5s;
}
.cadre-menu:active > .cadre-menu__rotation i {
  transform: translateX(0px) rotate(1turn);
  transition: transform 0.5s;
}
.cadre-menu__name {
  width: 85%;
  height: 100%;
  background-color: white;
  transition: width 0.5s;
}
.cadre-menu__name h3 {
  width: auto;
  height: auto;
  font-size: 0.9rem;
  margin: 1rem 0.5rem 0rem 1rem;
  padding-bottom: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .cadre-menu__name h3 {
    /*test du @media*/
    margin: 1.5rem 0.5rem 0.5rem 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
  }
}
.cadre-menu__name p {
  width: auto;
  height: auto;
  margin: 0.5rem 1rem;
  padding-bottom: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .cadre-menu__name p {
    /*test du @media*/
    margin: 0.5rem 0.5rem 0.5rem 1.5rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
  }
}
.cadre-menu__price {
  font-weight: bold;
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  background-color: white;
}
.cadre-menu__price p {
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 768px) {
  .cadre-menu__price p {
    /*test du @media*/
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
}
.cadre-menu__rotation {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 0%;
  transition: width 0.5s;
}
.cadre-menu__rotation i {
  font-size: 1.5rem;
  color: white;
  transform: translateX(10px) rotate(0deg);
  transition: transform 0s;
}

.command {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.command__btn {
  box-shadow: 0px 3px 10px #8c8c8c;
  width: 50%;
  height: 3rem;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  border-radius: 25px 25px;
  background: linear-gradient(#ff6ad6, #9356DC);
}
@media screen and (min-width: 768px) {
  .command__btn {
    /*test du @media*/
    font-size: 1.3rem;
  }
}
.command__btn:hover {
  background: linear-gradient(#ff83dd, #a16be0);
  box-shadow: 0px 6px 10px #8c8c8c;
}

.green-line {
  width: 2.2rem;
  border: 1px #99E2D0 solid;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .green-line {
    /*test du @media*/
    width: 3rem;
    border: 3px #99E2D0 solid;
    margin-bottom: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
